footer {
    background-color: #000;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

footer div {
    margin-bottom: 1rem;
}

footer a {
    color: #ccc;
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #d32f2f;
}

a:active{
  color: red;
}

@media (max-width: 768px) {
    .menu-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background: white;
        width: 100%;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .menu-items.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}