div.absolute {
    position: absolute;
    top: 11rem;
    right: 0;
    left: 55%;
    border: 3px solid #73AD21;
    padding: 1rem;
    background-color: #f1f1f1;
  }

  .main-news {
    height: 100%;
  }

  .news-card {
    margin-bottom: 1rem;
  }

  .news-img {
    width: 100%;
  }

  .news-container {
    padding: 15px;
  }

  .w3-row-padding {
    display: flex;
    flex-wrap: wrap;
  }

  .news-card {
    height: 100%;
  }

  .news-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }
  
  .news-item {
    flex: 1 1 calc(33.333% - 1rem);
    box-sizing: border-box;
  }

  @media screen and (max-width: 992px) {
    .news-item {
      flex: 1 1 calc(50% - 1rem);
    }
  }
  
  @media screen and (max-width: 600px) {
    .news-item {
      flex: 1 1 100%;
    }
  }

  /* .news-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.news-item {
    flex: 1 1 calc(33.333% - 1rem);
    display: flex;
}

.news-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
} */

.news-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
